<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- <div class="card-header card-header-danger">
              <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title ">Devices List</h4>
                    <p class="card-category"> Brief information about each device is available here</p>
                </div>
              <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-success pull-right">Add New</button>
              </div>
            </div> -->
            <div class="card-header card-header-danger">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4 class="card-title ">Devices List</h4>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select [(value)]="tenantSelected" placeholder="Tenant Names">
                          <mat-option *ngFor="let names of tenantsNamesList" (click)="onTenantSelection()" [value]="names">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select [(value)]="plantSelected" placeholder="Plant Names">
                          <mat-option *ngFor="let names of plantsNamesList" (click)="onPlantSelection()" [value]="names">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select [(value)]="machineSelected" placeholder="Machine Names">
                          <mat-option *ngFor="let names of machinesNamesList" (click)="onMachineSelection()" [value]="names">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-select [(value)]="equipmentSelected" placeholder="Equipment Names">
                          <mat-option *ngFor="let names of equipmentsNamesList" (click)="optionsSelected()" [value]="names">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-success pull-right">Add New</button>
              </div>
            </div>
            <div class="card-body" *ngIf="areDevicesAvailable()">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th *ngFor="let header of headers">
                      {{ header }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let device of devices">
                      <td>
                        {{ device.id }}
                      </td>
                      <td>
                        {{ device.name }}
                      </td>
                      <td>
                        {{  device.description }}
                      </td>
                      <td>
                        <a (click)="openDetails('details', device)" class="btn btn-primary btn-round pull-right"> <!-- (click)="moveTo('update')" -->
                        Details                        
                        </a>
                      </td>
                      <td>
                        <a (click)="update('update', device)" class="btn btn-warning btn-round pull-right"> <!-- (click)="moveTo('update')" -->
                        Update                        
                        </a>
                      </td>
                      <td>
                        <a (click)="delete('list', device)" class="btn btn-danger btn-round pull-right">
                          <i class="material-icons">delete_outline</i>
                          DELETE
                        </a>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-body" *ngIf="!areDevicesAvailable()" >
              <p>
                No Devices are available.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  