<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-spaceGray">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4 class="card-title ">Plants List</h4>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field color="warn">
                        <mat-select [(value)]="tenantSelected" placeholder="Tenant Name" style="color: #ffffff">
                          <mat-option *ngFor="let names of tenanteNamesList" (click)="optionSelected()" [value]="names.id">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                    <!-- <p class="card-category"> Brief information about each plant is available here</p> -->
                </div>
              <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-secondary pull-right">Add New</button>
              </div>
            </div>
            <div class="card-body" *ngIf="isTenantSelected && !noPlantsFound">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-dark">
                    <th *ngFor="let header of headers">
                      {{ header }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let plant of plants">
                      <td>
                        {{ plant.id }}
                      </td>
                      <td>
                        {{ plant.name }}
                      </td>
                      <td>
                        {{  plant.description }}
                      </td>
                      <td>
                        <a (click)="openDetails('details', plant)" class="btn btn-blueGray btn-round pull-right" style="color: #ffffff"> <!-- (click)="moveTo('update')" -->
                        Details                        
                        </a>
                      </td>
                      <td>
                        <a (click)="update('update', plant)" class="btn btn-brownGray btn-round pull-right" style="color: #ffffff"> <!-- (click)="moveTo('update')" -->
                        Update                        
                        </a>
                      </td>
                      <td>
                        <a (click)="delete('list', plant)" class="btn btn-dark btn-round pull-right" style="color: #ffffff">
                          <i class="material-icons">delete_outline</i>
                          DELETE
                        </a>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-body" *ngIf="!isTenantSelected">
              <p>
                Please select a Tenant.
              </p>
            </div>
            <div class="card-body" *ngIf="noPlantsFound && isTenantSelected">
              <p>
                There are no Plants available for this Tenant.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  