<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
          <div class="row">
            <div class="col-md-11">
            <h4 class="card-title">Tenant Details</h4>
            <!-- <p class="card-category">All the fields must be filled</p> -->
            </div>
            <div class="col-md-1">
              <a (click)="moveTo('list')">
                <i class="material-icons pull-right">close</i>
              </a>
            </div>
          </div>
            <!-- <h4 class="card-title">Tenant Details</h4> -->
            <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        </div>
        <div class="card-body">
          <div id="typography">
            <div class="card-title">
              <h3>{{ device.name }}</h3>
            </div>
            <div class="row">
              <div class="font-weight-bold col-md-2">ID</div>
              <div class="font-weight-bold col-md-1">:</div>
              <div class="font-weight-light col-md-9">{{ device.id }}</div>
            </div>
            <div class="row">
              <div class="font-weight-bold col-md-2">Name</div>
              <div class="font-weight-bold col-md-1">:</div>
              <div class="font-weight-light col-md-9">{{ device.name }}</div>
            </div>
            <div class="row">
              <div class="font-weight-bold col-md-2">Description</div>
              <div class="font-weight-bold col-md-1">:</div>
              <div class="font-weight-light col-md-9">{{ device.description }}</div>
            </div>
            <div class="row">
              <div class="font-weight-bold col-md-2">Last Modifed By</div>
              <div class="font-weight-bold col-md-1">:</div>
              <div class="font-weight-light col-md-9">{{ device.modified_by }}</div>
            </div>
            <div class="row">
              <div class="font-weight-bold col-md-2">Object ID</div>
              <div class="font-weight-bold col-md-1">:</div>
              <div class="font-weight-light col-md-9">{{ device.app_object_id }}</div>
            </div>
            <div class="row">
              <button mat-raised-button (click)="update('update')" class="col-md-2 btn btn-warning btn-round pull-right">Update</button>
              <button mat-raised-button (click)="delete('list')" class="col-md-2 btn btn-danger btn-round pull-right">Delete</button>
              <button mat-raised-button (click)="generateQR('qr-code', device.id)" class="col-md-3 btn btn-success btn-round">Generate QR CODE</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
