<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-spaceGray">
        <div class="row">
          <div class="col-md-11">
            <h3 class="card-title">QR Code</h3>
          </div>
          <div class="col-md-1">
            <a (click)="moveTo('list')">
              <i class="material-icons pull-right">close</i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" *ngIf="qrdata">
            <qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode> <!-- guidObject.object_guid-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>