<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Add New Machine</h4>
              <p class="card-category">Fill all the fields</p>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field>
                      <mat-select [(value)]="newMachine.tenant_id" placeholder="Tanant ID">
                        <mat-option *ngFor="let id of tendentIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field>
                      <mat-select [(value)]="newMachine.plant_id" placeholder="Plant ID">
                        <mat-option *ngFor="let id of plantIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Name" name="Name" [(ngModel)]="newMachine.name" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="App Object Id" type="text" name="App Object Id" [(ngModel)]="newMachine.app_object_id" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Description" name="Description" [(ngModel)]="newMachine.description" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Additional Info</label>
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Give Additional information" name="Info" [(ngModel)]="newMachine.additional_info" required></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-success btn-lg btn-block">Add</button> <!-- (click)="moveTo('list')"-->
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  