<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- <div class="card-header card-header-danger">
              <h4 class="card-title">Update Device</h4>
              <p class="card-category">Fill all the fields</p>
            </div> -->
            <div class="card-header card-header-danger">
              <div class="row">
                <div class="col-md-11">
                  <h4 class="card-title">Update Device</h4>
                  <p class="card-category">All the fields must be filled</p>
                </div>
                <div class="col-md-1">
                  <a (click)="moveTo('list')">
                    <i class="material-icons pull-right">close</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select [(value)]="device.tenant_id" placeholder="Tanant ID">
                        <!-- <mat-option [value]="id" selected>{{ device.tenant_id }}</mat-option> -->
                        <mat-option *ngFor="let id of tendentIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select [(value)]="device.plant_id" placeholder="Plant ID">
                        <!-- <mat-option [value]="id" selected>{{ device.tenant_id }}</mat-option> -->
                        <mat-option *ngFor="let id of plantIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select [(value)]="device.machine_id" placeholder="Machine ID">
                        <!-- <mat-option [value]="id" selected>{{ device.tenant_id }}</mat-option> -->
                        <mat-option *ngFor="let id of machineIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select [(value)]="device.equipment_id" placeholder="Equipment ID">
                        <!-- <mat-option [value]="id" selected>{{ device.tenant_id }}</mat-option> -->
                        <mat-option *ngFor="let id of equipmentIds" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <p>{{ device.tenant_id }}</p> -->
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Name" name="Name" [(ngModel)]="device.name" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Description" name="Description" [(ngModel)]="device.description" required>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-success btn-lg btn-block">Update</button> <!-- (click)="moveTo('list')"-->
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  