<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                  <h4 class="card-title ">Tenants List</h4>
                  <p class="card-category"> Brief information about each tenant is available </p>
              </div>
            <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-success pull-right">Add New</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let header of headers">
                    {{ header }}
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let tenant of tenants">
                    <td>
                      {{ tenant.id }}
                    </td>
                    <td>
                      {{ tenant.name }}
                    </td>
                    <td>
                      {{  tenant.description }}
                    </td>
                    <!-- <td>
                      {{ tenant.additional_info }}
                    </td> -->
                    <td>
                      <a (click)="openDetails('details', tenant)" class="btn btn-primary btn-round pull-right"> <!-- (click)="moveTo('update')" -->
                      Details                        
                      </a>
                    </td>
                    <td>
                      <a (click)="update('update', tenant)" class="btn btn-warning btn-round pull-right"> <!-- (click)="moveTo('update')" -->
                      Update                        
                      </a>
                    </td>
                    <td>
                      <a (click)="delete('list', tenant)" class="btn btn-danger btn-round pull-right">
                        <i class="material-icons">delete_outline</i>
                        DELETE
                      </a>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
