<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-spaceGray">
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4 class="card-title ">Equipments List</h4>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-select [(value)]="tenantSelected" placeholder="Tenant Names">
                          <mat-option *ngFor="let names of tenantsNamesList" (click)="onTenantSelection()" [value]="names.id">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-select [(value)]="plantSelected" placeholder="Plant Names">
                          <mat-option *ngFor="let names of plantsNamesList" (click)="onPlantSelection()" [value]="names.id">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-select [(value)]="machineSelected" placeholder="Machine Names">
                          <mat-option *ngFor="let names of machinesNamesList" (click)="optionsSelected()" [value]="names.id">
                            {{names.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-secondary pull-right">Add New</button>
              </div>
            </div>
            <div class="card-body" *ngIf="isTenantSelected && !noEquipmentsFound">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-dark">
                    <th *ngFor="let header of headers">
                      {{ header }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let equipment of equipments">
                      <td>
                        {{ equipment.id }}
                      </td>
                      <td>
                        {{ equipment.name }}
                      </td>
                      <td>
                        {{  equipment.description }}
                      </td>
                      <td>
                        <a (click)="openDetails('details', equipment)" class="btn btn-blueGray btn-round pull-right" style="color: #ffffff"> <!-- (click)="moveTo('update')" -->
                        Details                        
                        </a>
                      </td>
                      <td>
                        <a (click)="update('update', equipment)" class="btn btn-brownGray btn-round pull-right" style="color: #ffffff"> <!-- (click)="moveTo('update')" -->
                        Update                        
                        </a>
                      </td>
                      <td>
                        <a (click)="delete('list', equipment)" class="btn btn-dark btn-round pull-right" style="color: #ffffff">
                          <i class="material-icons">delete_outline</i>
                          DELETE
                        </a>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-body" *ngIf="!isTenantSelected">
              <p>
                Please select a Tenant.
              </p>
            </div>
            <div class="card-body" *ngIf="noEquipmentsFound && isTenantSelected">
              <p>
                There are no Equipments available for this filter.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  