<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title ">Equipments List</h4>
                    <p class="card-category"> Brief information about each equipment is available here</p>
                </div>
              <button mat-raised-button (click)="moveTo('new')" type="submit" class="btn btn-success pull-right">Add New</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th *ngFor="let header of headers">
                      {{ header }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let equipment of equipments">
                      <td>
                        {{ equipment.id }}
                      </td>
                      <td>
                        {{ equipment.name }}
                      </td>
                      <td>
                        {{  equipment.description }}
                      </td>
                      <td>
                        {{ equipment.additional_info }}
                      </td>
                      <td>
                        {{ equipment.tenant_id }}
                      </td>
                      <td>
                        {{ equipment.plant_id }}
                      </td>
                      <td>
                        {{ equipment.machine_id }}
                      </td>
                      <td>
                        <a (click)="update('update', equipment)" class="btn btn-success btn-round pull-right"> <!-- (click)="moveTo('update')" -->
                        Update                        
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  